:root {
  --dark-blue: hsl(208, 23%, 22%);
  --bg-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 80%);
  --white: hsl(0, 0%, 100%);
}
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg-dark-blue);
  transition: all 0.1s ease;
  overflow-x: hidden;
}

body.light {
  background-color: var(--very-light-gray);
}

nav#navbar {
  width: 100%;
  height: 80px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

body.light nav#navbar{
  background-color: var(--white);
  color: var(--very-dark-blue);
  font-weight: bold;
}

nav#navbar h1 a {
  text-decoration: none;
  color: inherit;
}

nav#navbar > div {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#navbar h4 a{
  text-decoration: none;
  color: inherit;
  padding-bottom: 10px;
}

nav#navbar h4 a:hover {
  text-decoration: underline;
}

nav#navbar button {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  color: var(--very-light-gray);
}

body.light nav#navbar button {
  color: var(--very-dark-blue);
}


nav#navbar button:hover {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
  cursor: pointer;
  transition: background-color .2s ease-in;
}

body.light nav#navbar button:hover {
  background-color: var(--bg-dark-blue);
  color: var(--very-light-gray);
}

nav#navbar button:active {
  transform: scale(0.99);
}

main {
  padding: 70px;
  width: 100vw;
  max-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  /* align-items: center;  */
}

#search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#search #input-wrap {
  /* justify-self: flex-start; */
  background-color: var(--dark-blue);
  width: 500px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 10px 30px;
  color: var(--gray);
  display: flex;
  align-items: center;
}

body.light #search #input-wrap {
  background-color: var(--white);
  color: var(--dark-gray);
}

#search #input-wrap input {
  width: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 3px;
  caret-color: var(--very-light-gray);
  color: var(--very-light-gray);
  font-size: 14px;
  margin-left: 10px;
}

body.light #search #input-wrap input {
  caret-color: var(--dark-gray);
  color: hsl(0, 0%, 40%);
}

#search #input-wrap input::placeholder {
  color: hsl(0, 0%, 75%)
}

body.light #search #input-wrap input::placeholder {
  color: var(--dark-gray)
}

#search #input-wrap i {
  cursor: pointer;
}

#search #regions {
  position: relative;
  z-index: 10;
}

#search #regions-click{
  position: relative;
  background-color: var(--dark-blue);
  width: 200px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  /* padding: 10px 20px; */
  color: var(--gray);
  cursor: pointer;
  line-height: 1.1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body.light #search #regions-click {
  background-color: var(--white);
  color: var(--very-dark-blue);
}


#regions-dropdown {    
  /* opacity: 0; */
  width: 200px;
  display: none;
  list-style: none;
  background-color: var(--dark-blue);
  margin-top: 5px;
  border-radius: 5px;
  color: var(--gray);
  padding: 10px 0;
  position: absolute;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  /* transition: opacity .1s ease-in; */
}

body.light #regions-dropdown {
  background-color: var(--white);
  color: var(--very-dark-blue);
}

#regions-dropdown.show {
  /* opacity: 1; */
  display: block;
}

#regions-dropdown li {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#regions-dropdown li:hover {
  background-color: hsl(208, 23%, 25%);
}

body.light #regions-dropdown li:hover {
  background-color: var(--gray);
}

#countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-items: center;
  position: relative;
  z-index: 5;
}

#countries .country-card {
  width: 250px;
  /* height: 330px; */
  background-color: var(--dark-blue);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin-bottom: 50px;
  /* position: relative; */
}

body.light #countries .country-card {
  background-color: var(--white); 
}

#countries .country-card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

#countries .country-card:active {
  transform: scale(1);
}

#countries .country-card .info {
  padding: 10px 20px 30px 20px;
  color: var(--very-light-gray);
  /* position: absolute; */
  /* bottom: 10px; */
}

body.light #countries .country-card .info {
  color: var(--very-dark-blue);
}

.country-card .info h4 {
  margin-bottom: 20px;
}

.country-card .info li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 5px;
}

#countries .country-card img {
  width: 100%;
  min-height: 130px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


#country {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--very-light-gray);
  padding-top: 100px;
}

body.light #country {
  color: var(--very-dark-blue);
}

#country button {
  position: absolute;
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  top: 10px;
}

body.light #country button {
  background-color: var(--white);
  color: var(--very-dark-blue);
}

#country button:hover {
  background-color: hsl(208, 23%, 25%);
}

#country button:active {
  transform: scale(0.99);
}


#country .flag img {
  border: 15px solid hsl(207, 26%, 16%);;
  border-radius: 5px;
  margin-right: 100px;
  width: 650px;
}

body.light #country .flag img {
  border-color: var(--very-light-gray);
}

#country .info {
  width: 100%;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#country .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#country .info > div {
  margin: 10px;
}

#country .info .data {
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

#country .info .data ul {
  list-style: none;
  min-width: 250px;
  /* margin: 20px; */
  line-height: 30px;
}

#country .info .data ul li {
  width: 100%;
}

#country .info .data ul:first-child {
  margin-right: 100px;
}

#country .info .data ul b {
  margin-right: 2px;
}

#country .info .borders {
  margin-top: 50px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

#country .info .borders b {
  margin-right: 10px;
}

#country .info .borders span#borderCountry{
  margin-left: 10px;
  padding: 5px 20px;
  border-radius: 3px;
  background-color: var(--dark-blue);
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
}

body.light #country .info .borders span#borderCountry{
  background-color: var(--white);
}

@media(max-width: 1400px) {
  #country {
    flex-direction: column;
    align-items: center;
  }

  #country .flag img {
    margin-right: 0;
  }

  #country .info {
    width: fit-content;
  }

  #country button {
    left: 10px;
    top: 10px;
  }
}

@media(max-width: 1200px) {
  #countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 920px) {
  #countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 860px) {
  nav#navbar {
    padding: 0 50px;
  }

  nav#navbar > div {
    flex-direction: column;
    align-items: start;
  }

  #search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #search #input-wrap {
    margin-bottom: 30px;
  }
}

@media(max-width: 700px) {
  #countries .flag img{
    width: 90%;
    margin-right: 09;
  }

  #countries .info .data{
    flex-direction: column;
  }

  #country .info .data ul:first-child {
    margin-bottom: 40px;
  }
  
}

@media(max-width: 660px) {
  #countries {
    grid-template-columns: repeat(1, 1fr);
  }

  #search {
    align-items: flex-start;
  }

  #search #input-wrap {
    width: 100%;
  }

  #country .info {
    /* align-items: center; */
    padding-left: 50px;
  }

  #country .info .data{
    width: 80%;
    /* align-items: center !important; */
  }

  #country .info .data ul:first-child {
    margin-right: 0;
  }

  #country .info .borders {
    flex-direction: column;
  }

  #country .info .borders b{
    margin-bottom: 10px;
  }

}



