/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;800&display=swap'); */

:root {
  --dark-blue: hsl(208, 23%, 22%);
  --bg-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 80%);
  --white: hsl(0, 0%, 100%);
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: hsl(207, 26%, 17%);
}

nav#navbar {
  width: 100%;
  height: 80px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

nav#navbar h4 a{
  text-decoration: none;
  color: inherit;
  padding-bottom: 10px;
}

nav#navbar h4 a:hover {
  text-decoration: underline;
}

nav#navbar button {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  color: var(--very-light-gray);
}

nav#navbar button:hover {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
  cursor: pointer;
  transition: background-color .2s ease-in;
}

nav#navbar button:active {
  transform: scale(0.99);
}

main {
  padding: 70px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
}

#search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#search #input-wrap {
  /* justify-self: flex-start; */
  background-color: var(--dark-blue);
  width: 500px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 10px 30px;
  color: var(--gray);
  display: flex;
  align-items: center;
}

#search #input-wrap input {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 3px;
  caret-color: var(--very-light-gray);
  color: var(--very-light-gray);
  font-size: 14px;
  margin-left: 10px;
}

#search #input-wrap input::placeholder {
  color: hsl(0, 0%, 75%)
}

#search #input-wrap i {
  cursor: pointer;
}

#search #regions {
  position: relative;
  z-index: 10;
}

#search #regions-click{
  position: relative;
  background-color: var(--dark-blue);
  width: 200px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  /* padding: 10px 20px; */
  color: var(--gray);
  cursor: pointer;
  line-height: 1.1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#regions-dropdown {    
  /* opacity: 0; */
  width: 200px;
  display: none;
  list-style: none;
  background-color: var(--dark-blue);
  margin-top: 5px;
  border-radius: 5px;
  color: var(--gray);
  padding: 10px 0;
  position: absolute;
  z-index: 10;
  /* transition: opacity .1s ease-in; */
}

#regions-dropdown.show {
  /* opacity: 1; */
  display: block;
}

#regions-dropdown li {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#regions-dropdown li:hover {
  background-color: hsl(208, 23%, 25%);
}

#countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-items: center;
  position: relative;
  z-index: 5;
}

#countries .country-card {
  width: 250px;
  /* height: 330px; */
  background-color: var(--dark-blue);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin-bottom: 50px;
}

#countries .country-card .info {
  padding: 10px 20px 30px 20px;
  color: var(--very-light-gray);
}

.country-card .info h4 {
  margin-bottom: 20px;
}

.country-card .info li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 5px;
}

#countries .country-card img {
  width: 100%;
  min-height: 130px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}