/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;800&display=swap'); */

:root {
  --dark-blue: hsl(208, 23%, 22%);
  --bg-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 80%);
  --white: hsl(0, 0%, 100%);
  /* --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border); */
}
  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg-dark-blue);
  transition: all 0.1s ease;
}

body.light {
  background-color: var(--very-light-gray);
}

nav#navbar {
  width: 100%;
  height: 80px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

body.light nav#navbar{
  background-color: var(--white);
  color: var(--very-dark-blue);
  font-weight: bold;
}

nav#navbar h1 a {
  text-decoration: none;
  color: inherit;
}

nav#navbar > div {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#navbar h4 a{
  text-decoration: none;
  color: inherit;
  padding-bottom: 10px;
}

nav#navbar h4 a:hover {
  text-decoration: underline;
}

nav#navbar button {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  color: var(--very-light-gray);
}

body.light nav#navbar button {
  color: var(--very-dark-blue);
}


nav#navbar button:hover {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
  cursor: pointer;
  transition: background-color .2s ease-in;
}

body.light nav#navbar button:hover {
  background-color: var(--bg-dark-blue);
  color: var(--very-light-gray);
}

nav#navbar button:active {
  transform: scale(0.99);
}

main {
  padding: 70px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
}

#search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#search #input-wrap {
  /* justify-self: flex-start; */
  background-color: var(--dark-blue);
  width: 500px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 10px 30px;
  color: var(--gray);
  display: flex;
  align-items: center;
}

body.light #search #input-wrap {
  background-color: var(--white);
  color: var(--dark-gray);
}

#search #input-wrap input {
  width: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 3px;
  caret-color: var(--very-light-gray);
  color: var(--very-light-gray);
  font-size: 14px;
  margin-left: 10px;
}

body.light #search #input-wrap input {
  caret-color: var(--dark-gray);
  color: hsl(0, 0%, 40%);
}

#search #input-wrap input::placeholder {
  color: hsl(0, 0%, 75%)
}

body.light #search #input-wrap input::placeholder {
  color: var(--dark-gray)
}

#search #input-wrap i {
  cursor: pointer;
}

#search #regions {
  position: relative;
  z-index: 10;
}

#search #regions-click{
  position: relative;
  background-color: var(--dark-blue);
  width: 200px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  /* padding: 10px 20px; */
  color: var(--gray);
  cursor: pointer;
  line-height: 1.1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body.light #search #regions-click {
  background-color: var(--white);
  color: var(--very-dark-blue);
}


#regions-dropdown {    
  /* opacity: 0; */
  width: 200px;
  display: none;
  list-style: none;
  background-color: var(--dark-blue);
  margin-top: 5px;
  border-radius: 5px;
  color: var(--gray);
  padding: 10px 0;
  position: absolute;
  z-index: 10;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  /* transition: opacity .1s ease-in; */
}

body.light #regions-dropdown {
  background-color: var(--white);
  color: var(--very-dark-blue);
}

#regions-dropdown.show {
  /* opacity: 1; */
  display: block;
}

#regions-dropdown li {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#regions-dropdown li:hover {
  background-color: hsl(208, 23%, 25%);
}

body.light #regions-dropdown li:hover {
  background-color: var(--gray);
}

#countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-items: center;
  position: relative;
  z-index: 5;
}

#countries .country-card {
  width: 250px;
  /* height: 330px; */
  background-color: var(--dark-blue);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin-bottom: 50px;
  /* position: relative; */
}

body.light #countries .country-card {
  background-color: var(--white); 
}

#countries .country-card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

#countries .country-card:active {
  transform: scale(1);
}

#countries .country-card .info {
  padding: 10px 20px 30px 20px;
  color: var(--very-light-gray);
  /* position: absolute; */
  /* bottom: 10px; */
}

body.light #countries .country-card .info {
  color: var(--very-dark-blue);
}

.country-card .info h4 {
  margin-bottom: 20px;
}

.country-card .info li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 5px;
}

#countries .country-card img {
  width: 100%;
  min-height: 130px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}



@media(max-width: 1200px) {
  #countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 920px) {
  #countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 860px) {
  nav#navbar {
    padding: 0 50px;
  }

  nav#navbar > div {
    flex-direction: column;
    align-items: start;
  }

  #search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #search #input-wrap {
    margin-bottom: 30px;
  }
}

@media(max-width: 660px) {
  #countries {
    grid-template-columns: repeat(1, 1fr);
  }

  #search {
    align-items: flex-start;
  }

  #search #input-wrap {
    width: 100%;
  }
}




.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
